Admin::Customers#edit画面
<!-- ヘッダー記載箇所イメージ -->
ヘッダー部分

<!-- タイトル -->
<p>
	<%= @customer.last_name %>
	<%= @customer.first_name %>
	の会員情報編集
</p>


<!-- 編集フォーム部分 -->
	
<%= form_for(@customer, url: admin_customer_path) do |f| %>

	<!-- エラーメッセージ表示-->
	<% if @customer.errors.any? %>
		<div>
			<h3><%= @customer.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @customer.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<!-- フォーム部分 -->
	<div>
		<label>会員ID</label>
		<span><%= @customer.id %></span>
	</div>

	<div>
		<label>名前</label>
		<span>（姓）</span>
		<%= f.text_field :last_name %>
		<span>（名）</span>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<label>フリガナ</label>
		<span>（セイ）</span>
		<%= f.text_field :last_name_kana %>
		<span>（メイ）</span>
		<%= f.text_field :first_name_kana %>
	</div>

	<div>
		<label>郵便番号（ハイフンなし）</label>
		<%= f.text_field :post_code %>
	</div>

	<div>
		<label>住所</label>
		<%= f.text_field :address %>
	</div>

	<div>
		<label>電話番号（ハイフンなし）</label>
		<%= f.text_field :phone_number %>
	</div>

	<div>
		<label>メールアドレス</label>
		<%= f.text_field :email %>
	</div>

	<!-- ラジオボタン -->
	<div>
		<label>会員ステータス</label>
		<label>
			<%= f.radio_button :is_deleted, false %>
			有効
		</label>
		<label>
			<%= f.radio_button :is_deleted, true %>
			無効
		</label>
	</div>	

	<!-- サブミットボタン -->
	<div>
		<%= f.submit "変更を保存する" %>
	</div>


<% end %>

