Admin::Customers#show画面
<!-- ヘッ載箇所イメージ -->
ヘッダー部分

<!-- タイトル -->
<%= @customer.last_name %><%= @customer.first_name %>の会員詳細

<!-- 登録情報一覧 -->
<!-- customer情報の表示 -->
<table>
	<tr>
		<th>顧客ID</th>
		<td>
			<span><%= @customer.id %></span>

			<!-- 有効会員／無効会員で色変える感じ？ -->
			<% if @customer.is_deleted != true %>
				<span>有効会員</span>
			<% else %>
				<span>無効会員</span>
			<% end %>
		</td>
	</tr>
	<tr>
		<th>氏名</th>
		<td>
			<span><%= @customer.last_name %></span>
			<span><%= @customer.first_name %></span>
		</td>
	</tr>
	<tr>
		<th>カナ</th>
		<td>
			<span><%= @customer.last_name_kana %></span>
			<span><%= @customer.first_name_kana %></span>	
		</td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td>
			<span><%= @customer.post_code %></span>
		</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>
			<span><%= @customer.address %></span>
		</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>
			<span><%= @customer.phone_number %></span>
		</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>
			<span><%= @customer.email %></span>
		</td>
	</tr>
</table>

<div>
	<!-- カスタマー情報変更画面へのリンク部分 -->
	<%= link_to edit_admin_customer_path do %>
		<button>編集する</button>　
	<% end %>

	<!-- 注文履歴一覧へのリンク部分 -->
	<%= link_to admin_orders_path do %>
		<button>注文履歴一覧を見る</button>
	<% end %>
</div>