<h3>注文履歴一覧</h3>

<table class="table">
	<tr>
		<th>購入日時</th>
		<th>購入者</th>
		<th>注文個数</th>
		<th>注文ステータス</th>
	</tr>
	<% @orders.each do |order| %>
	<tr>
		<td>
			<%= link_to admin_order_path(order) do %>
			<%= order.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
			<% end %>
		</td>
		<td>
			<%= order.customer.last_name %>
			<%= order.customer.first_name %>
		</td>
		<% sum_all = 0 %>
		<% order.order_products.each do |o| %>
			<%#= o.quantity %>
			<%#= order.order_products.quantity %>
			<!-- これだと、どのquantityかわからん -->

			<%# sum_product = o.quantity %>
			<%# sum_all += sum_product %>
			<!-- この上の2行だとa=bと定義してから、sum_allはaを足し合わせた数です。という意味になる。普通にsum_allはbを足し合わせた数です。としたほうが1行でいいし簡潔。 -->
			<%#= sum_all %>
			<!-- これで今4 11とか出てきてしまう。
			11だけ出てきて欲しい。どうしたら良いか。 -->
			<% sum_all += o.quantity %>
		<% end %>
		<td><%= sum_all %></td>
		<!-- このsum＿allがeach分の中に入ってしまってたため、4、11とかが出てきてしまっていた。cartitemの時みたいにeach分の外に出して記述してやる。 -->
		<td>
			<%= order.status %>
		</td>
	</tr>
	<% end %>
</table>