<div class="row">
 <div class="col-xs-1">
 </div>

<div class="col-xs-10">
 <h3 class="admin-title">注文履歴一覧</h3><br>

<table class="table table-striped">
	<tr class="warning">
		<th>購入日時</th>
		<th>購入者</th>
		<th>注文個数</th>
		<th>注文ステータス</th>
	</tr>
	<% @orders.each do |order| %>
	<tr>
		<td>
			<%= link_to admin_order_path(order) do %>



			<%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
			<% end %>
		</td>
		<td>
			<%= order.customer.last_name %>
			<%= order.customer.first_name %>
		</td>
		<% sum_all = 0 %>
		<% order.order_products.each do |o| %>

			<% sum_all += o.quantity %>
		<% end %>
		<td><%= sum_all %></td>
		<td>
			<%= order.status %>
		</td>
	</tr>
	<% end %>

</table>
<div class='admin-paginate'><%= paginate @orders %></div>
</div>
</div>