<h3>注文履歴詳細</h3>

<%= form_for(@order, url:admin_order_path,method: :patch) do |f| %>
<table class="table">
	<tr>
		<th>購入者</th>
		<th>配送先</th>
		<th>支払方法</th>
		<th>注文ステータス</th>
	</tr>
	<tr>
		<td>
			<%= @order.customer.last_name %>
			<%= @order.customer.first_name %>
		</td>
		<td>
			<%= @order.address %>
		</td>
		<td>
			<%= @order.payment_method %>
		</td>
		<td>
			<%= f.select :status, Order.statuses.keys.to_a %>
			<%= f.submit '更新' ,class: "btn btn-primary" %>
		</td>
	</tr>
</table>
<% end %>

<table class="table">
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
		<th>製作ステータス</th>
		<th></th>
	</tr>
	<% sum_all = 0 %>
	<!-- 注文に紐づいている注文商品 -->
	<% @product.each do |p| %>
	<!-- 上のform_forとは別で処理（飛ばすURLが違うから） -->
	<%= form_for(p, url:admin_order_detail_path(p),method: :patch) do |f| %>
	<tr>
		<td>
			<%#= @order.order_products.products.name %>
			<%= p.product.name %>
		</td>
		<td>
			<%= (p.product.tax_include_price).to_s(:delimited) %>
		</td>
		<td>
			<%= p.quantity %>
		</td>
		<td>
			<% sum_product = (p.product.tax_include_price*p.quantity).to_i %>
			¥<%= sum_product.to_s(:delimited) %>
			<% sum_all += sum_product %>
		</td>
		<td>
			<%= f.select :make_status, OrderProduct.make_statuses.keys.to_a %>
			<%= f.submit '更新',class: "btn btn-primary" %>
		</td>
		<td></td>
	</tr>
</table>
<% end %>
<% end %>

<div class="pull-right">
<table>
	<tr>
		<th>商品合計</th>
		<td>¥<%= sum_all.to_s(:delimited) %></td>
	</tr>
	<tr>
		<th>送料</th>
		<td>¥<%= @order.shipping_cost %></td>
	</tr>
	<tr>
		<th>請求金額合計</th>
		<td>¥<%= (sum_all + @order.shipping_cost).to_s(:delimited) %></td>
	</tr>
</table>
</div>




