

<%= form_for(@customer, url: update_info_customers_path ) do |f| %>

	<!-- エラーメッセージ表示-->
	<% if @customer.errors.any? %>
		<div>
			<h3><%= @customer.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @customer.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- フォーム部分 -->
<div class="row">
 <div class="col-xs-1">
 </div>
 <div class="col-xs-7">


<br>
<h3><i class="fas fa-edit"></i>マイページ編集</h3><br>

<div>
<table class="table table-striped">
	<tr>
		<th>名前</th>
		<td>
		 <%= f.text_field :last_name, placeholder: "姓", :size=>"26" %>
		 <%= f.text_field :first_name, placeholder: "名", :size=>"26" %>
		</td>
	</tr>

	<tr>
		<th>フリガナ</th>
		<td>
		 <%= f.text_field :last_name_kana, placeholder: "セイ", :size=>"26"%>
		 <%= f.text_field :first_name_kana, placeholder: "メイ", :size=>"26"%>
		</td>
	</tr>

	<tr>
		<th>メールアドレス</th>
		<td><%= f.text_field :email, :size=>"54" %></td>
	</tr>

	<tr>
		<th>郵便番号(ハイフンなし)</th>
		<td><%= f.text_field :post_code , :size=>"26"%></td>
	</tr>

	<tr>
		<th>住所</th>
		<td><%= f.text_field :address, :size=>"54"%></td>
	</tr>

	<tr>
		<th>電話番号（ハイフンなし）</th>
		<td><%= f.text_field :phone_number , :size=>"26"%></td>
	</tr>

</table>
</div>

	<div>
		<%= f.submit "編集内容を保存する",class:"btn btn-primary" %>
	</div><br>

<% end %>

<!-- 退会ボタン -->
<div>
	<%= link_to hide_customers_path do %>
		<button class="btn btn-danger btn-sm">退会する</button>
	<% end %>
</div>
