<h3>ログイン前ヘッダー</h3>
<%= link_to "Home", root_path %>
<%= link_to "About", home_about_path %>
<%= link_to "商品一覧", products_path %>
<%= link_to "新規登録", new_customer_registration_path %>
<%= link_to "ログイン", new_customer_session_path %>
<h1>顧客About</h1>
<p>ながのCakeは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。</p>
<p>ケーキの写真とか</p>