<%= form_with model:product, url: admin_products_path, local:true do |f| %>
  <div class="row">
	<div class="col-xs-6">
	  <table class="table">
	    <thead>
	      <tr>
	      	<th>
	      	  	<%= attachment_image_tag @product, :image, class:"img-square", fallback: "no_image.jpg", size:"200x160" %>
	      	</th>
	      	<th>
	      	  <div class="item-image">
	      	    <%= f.attachment_field :image %>
	      	  </div>
	      	</th>
	      </tr>
		  <tr>
		    <th><%= f.label :"商品名" %></th>
		    <th><%= f.text_field :name, placeholder: "商品名" %></th>
		  </tr>
		  <tr>
		    <th><%= f.label :"商品説明" %></th>
		    <th><%= f.text_area :introduction, :size=>"35", placeholder: "商品説明" %></th>
		  </tr>
		  <tr>
		    <th><%= f.label :"ジャンル"%></th>
		    <th>
		  	  <%= f.collection_select :genre_id, Genre.where(is_active: "true"), :id, :name,disabled: true, include_blank: "選択して下さい" %>
		    </th>
		  </tr>
		  <tr>
		    <th><%= f.label :"税抜価格" %></th>
		    <th><div class="field-left"><%= f.text_field :price, placeholder: "価格" %></div>円</th>
		  </tr>
		  <tr>
		    <th><%= f.label :"販売ステータス" %></th>
		    <th>
		      <% if product.name.nil? %>
		        <%= f.select :is_active ,[['販売中',true],['売切れ',false]], { include_blank: "選択して下さい", selected: 0 } %>
		      <% else %>
	            <%= f.select :is_active ,[['販売中',true],['売切れ',false]] %>
	          <% end %>
		    </th>
		  </tr>
	    </thead>
	  </table>
	  <% if product.name.nil? %>
	    <%= f.submit "新規登録", class: "btn btn-success" %>
	  <% else %>
	    <%= f.submit "編集する", class: "btn btn-primary" %>
	  <% end %>
    </div>
  </div>
<% end %>
<script>
    $(function(){
    // inputのidから情報の取得
    $(".item-image").on('change', function (e) {
    // ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
    }
    // ここまで
    reader.readAsDataURL(e.target.files[0]);
    //取得したurlにアップロード画像のurlを挿入
});
});
</script>