
<!-- バリデーション チェック -->
<% if @product.errors.any? %>
      <div id="error_explanation">
        <h3><%= @product.errors.count %>error prohibited this obj from being saved:</h3>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
<% end %>

<h3 class="admin-title">商品編集</h3><br>
  <%= form_with model:@product, url: admin_product_path, local:true do |f| %>
 <!--  画像投稿時のプレビュー機能はチャレンジ項目実装は時間があれば -->

	  <div class="row">
		  <div class="col-xs-6">
			  <table class="table">
			  		<tr>
			  			<td><%= f.attachment_field :image %></td>
			  		</tr>
					<tr>
						<th><%= f.label :"商品名" %></th>
						<td><%= f.text_field :name %></td>
					</tr>
					<tr>
						<th><%= f.label :"商品説明" %></th>
						<td><%= f.text_area :introduction,:size=>"35" %></td>
					</tr>
					<tr>
						<th><%= f.label :"ジャンル" %></th>
						<td>
							<%= f.collection_select :genre_id, Genre.where(is_active: "true"), :id, :name, disabled: true, include_blank: "選択して下さい" %>
						</td>
					</tr>
					<tr>
						<th><%= f.label :"税抜価格" %></th>
						<td><%= f.text_field :price %>円</td>
					</tr>
					<tr>
						<th><%= f.label :"販売ステータス" %></th>
						<td><%= f.select :is_active ,[['販売中',true],['売切れ',false]] %></td>
					</tr>
					<tr>
						<td><%= f.submit "編集する", class: "btn btn-primary" %></td>
					</tr>
			  </table>
	 	  </div>
	  </div>
  <% end %>


