
<div class="row">
<h3 class="admin-title">商品詳細</h3><br>
</div>
<!-- 画像詳細画像の大きさは任せます -->
<div class="row">
<div class="col-xs-3">
<%= attachment_image_tag(@product, :image, :fill, 250, 250) %>
</div>
<div class="col-xs-6">
<table class="table">
	<thead>
		<tr>
			<th class="col-xs-4">商品名</th>
			<th><%= @product.name %></th>
		</tr>
		<tr>
			<th>商品説明</th>
			<th><%= @product.introduction %></th>
		</tr>
		<tr>
			<th>ジャンル</th>
			<th><%= @product.genre.name %></th>
		</tr>
		<tr>
			<th>税込価格（税抜価格）</th>
			<th>
				<!-- 消費税計算メゾットは後で考える -->
				<% (price = @product.price * 1.08 ) %>
				<%= price.round %>円 (<%= @product.price %>円)
			</th>
		</tr>
		<tr>
			<th>販売ステータス</th>
			<th><%= @product.is_active ? "販売中" : "売切れ"  %></th>
		</tr>
	</thead>
</table>
<%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-primary", :style=>"float:right;"%>
</div>
