<h3>ショッピングカート</h3>

<div class="pull-right">
	<%= link_to cart_items_path, method: :delete, class: "btn btn-danger" do %>
		<h5>カートを空にする</h5>
	<% end %>
</div>
<table class="table table-bordered">
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	<% sum_all = 0 %>
	<% @cart_items.each do |item| %>
		<tr>
			<td>
				<%= attachment_image_tag item.product, :image, :fill, 50, 50 %>
				<%= item.product.name %>
			</td>
			<td>
				¥<%= item.product.tax_include_price %>
			</td>
			<td>
				<%= form_with model: item, local: true do |f| %>
        		<%= f.number_field :quantity, value: item.quantity, min:1, max:99  %>
        		<%= f.submit "変更", class: "btn btn-primary" %>
        		<% end %>
			</td>
			<td>
				¥<%= sum_product = item.product.tax_include_price.to_i * item.quantity %>円
        		<% sum_all += sum_product %>
			</td>
			<td>
				<%= link_to '削除する', cart_item_path(item), method: :delete, class: "btn btn-danger" %>
			</td>
		</tr>
		<% end %>
</table>
<div class="pull-right">
	<table class="table table-bordered">
		<tr>
			<td>合計金額</td>
			<td>¥<%= sum_all %></td>
		</tr>
	</table>
</div>

<%= link_to "買い物を続ける", products_path, class: "btn btn-primary"  %>

<%= link_to "情報入力に進む", new_order_path, class: "btn btn-success"  %>