<div class="row">
 <div class="col-xs-1">
 </div>
 <div class="col-xs-10">

<br>
<h3><i class="fas fa-shopping-cart"></i>ショッピングカート</h3>

<div class="pull-right">
	<%= link_to cart_items_path, method: :delete, class: "btn btn-sm btn-danger" do %>
		<h5>カートを空にする</h5>
	<% end %>
</div>
<table class="table table-striped">
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	<% sum_all = 0 %>
	<% @cart_items.each do |item| %>
		<tr>
			<td>
				<%= attachment_image_tag item.product, :image, :fill, 55, 55 %>
				<%= item.product.name %>
			</td>
			<td>
				¥<%= item.product.tax_include_price %>
			</td>
			<td>
				<%= form_with model: item, local: true do |f| %>
        		<%= f.number_field :quantity, value: item.quantity, min:1, max:99  %>
        		<%= f.submit "変更", class: "btn btn-primary" %>
        		<% end %>
			</td>
			<td>
				<% sum_product = item.product.tax_include_price.to_i * item.quantity %>
				¥<%= sum_product.to_s(:delimited) %>
        		<% sum_all += sum_product %>
			</td>
			<td>
				<%= link_to '削除', cart_item_path(item), method: :delete, class: "btn btn-danger" %>
			</td>
		</tr>
		<% end %>
</table>
<div class="pull-right">
	<table class="table table-bordered">
		<tr>
			<div>
			<td>合計金額</td>
			<td>¥<%= sum_all.to_s(:delimited) %></td>
		    </div>
		</tr>
	</table>
</div>

<%= link_to "買い物を続ける", products_path, class: "btn btn-primary"  %>



<% if @cart_items.exists? %>
<%= link_to "情報入力に進む", new_order_path, data: {"turbolinks"=>false},class: "btn btn-success"  %>
<% end %>


 </div>
 <div class="col-xs-1">
 </div>
</div>

<div class="row">

	<h4><i class="fas fa-star"></i>ご一緒にいかがですか？</h4>
	<% @products.shuffle.first(6).each do |product| %>
      <div class="col-xs-2">
        <%= link_to product_path(product) do %>
  	    <%= attachment_image_tag product, :image, :fill, 260, 260, class: 'product-image'%>
        <% end %>
        <p><%= product.name %><br>
       ¥<%= product.price %></p>
      </div>
    <% end %>

</div>





