
<% if @destination.errors.any? %>
	<div>
		<h3><%= @destination.errors.count %>error prohibited this obj from being saved:</h3>
		<ul>
			<% @destination.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>



<br>
<div class="row">
<h3><i class="fas fa-shipping-fast"></i>配送先新規登録</h3><br>
</div>

<div class="row">

<div class="col-xs-2">
		<div class="destinations-text">
		<p>郵便番号(ハイフンなし)</p>
		<p>住所</p>
		<p>宛名</p>
	    </div>
</div>
<div class="col-xs-4">
	<!-- フォーム部分 -->
<%= form_for(@destination) do |f| %>
	<div>
		<%= f.text_field :post_code, placeholder: "郵便番号", autofocus: true %>
	</div>
	<br>
	<div>
		<%= f.text_field :address,:size=>"55", placeholder: "住所", autofocus: true%>
	</div>
	<br>
	<div>
		<%= f.text_field :name , placeholder: "宛名", autofocus: true%><br>
	</div>


	<div>
		<%= f.submit "登録する",class:"btn btn-success",style: "float:right" %>
	</div>

</div>
</div>
<% end %>

<div class="row">
	<!-- 一覧部分 -->
	<h3><i class="fas fa-home"></i>配送先一覧</h3><br>
<table class="table">
	<thead>
		<tr class="success">
			<th>郵便番号</th>
			<th>住所</th>
			<th>宛名</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @destinations.each do |destination| %>
			<tr>
				<td><%= destination.post_code %></td>
				<td><%= destination.address %></td>
				<td><%= destination.name %></td>
				<td>
					<%= link_to edit_destination_path(destination.id) do %>
						<button class="btn btn-primary btn-sm">編集する</button>
					<% end %>
					<%= link_to destination_path(destination.id), method: :delete do %>
						<button class="btn btn-danger btn-sm">削除する</button>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

</div>

