<h3>ログイン前or後ヘッダー</h3>
<%= link_to "Home", root_path %>
<%= link_to "About", home_about_path %>
<%= link_to "商品一覧", products_path %>
<%= link_to "新規登録", new_customer_registration_path %>
<%= link_to "ログイン", new_customer_session_path %>
<h1>商品一覧画面</h1>
<p>ジャンル検索BOX</p>
<P>商品一覧each do的なん<p>
<P>ページング機能</P>